@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    default = 400;
*/
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #0F0E47;
    background: #E3DDDB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

/*
    without underscore;
*/
a{
    text-decoration: none;
}

/*
    not bigger then its parent
*/
img{
    max-width: 100%;
    height: auto;
    display: block;
}


/*
    Header
*/
.logo-container{
    color: #E3DDDB;
    display: flex;
    align-items: center;
    background: #272757;
    width: 100%;
    margin: 0;
    padding: 15px;

    /* smooth */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(0);
    transition: transform 250ms ease;
}

/* can't growth, a size of the container - automatik*/
.logo-btn{
    flex: 0 0 auto;
}

.logo-btn a{
    color: #fff;
    background: #000;
    font-weight: 800;
    padding: 10px 25px;
    border-radius: 15px;
    transition: all 500ms ease;
}

.logo-btn a:hover{
    background: #505081;
    color: #0F0E47;
}

/*
    this element can take rest place and the text of this el must be in the middle of the el
*/
.logo-title{
    flex: 1;
    text-align: center;
}

.language-container{
    flex: 0 0 auto;
    margin-left: auto;
    display: flex;
    gap: 15px;
}

#enBtn, #deBtn{
    flex: 1;
    border: none;
}

#enBtn img, #deBtn img{
    width: 50px;
    height: 30px;
}

header nav{
    margin: 75px auto;
    padding: 0 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header nav ul li a{
    color: #E3DDDB;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 15px;
    display: inline-block;
}

header nav ul li:not(.active) a{
    background: #505081;
    transition: all 500ms ease;
}

header nav ul li.active a{
    color: #0F0E47;
    border: 2px solid #272757;
}

header nav ul li:not(.active) a:hover{
    background: #272757;
    transform: scale(1.1);
}

header nav.nav-start{
    display: flex;
    align-items: center;
}

header nav.nav-start div#time,
header nav.nav-start p#greeting{
    flex: 0 0 auto;
}

header nav.nav-start ul{
    flex: 1;
}

header nav.nav-start div#time{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    padding: 10px 25px;
    border: 3px solid #272757;
    margin: 15px 0 15px 15px;
    min-width: 260px;
}

header nav.nav-start p#greeting{
    font-weight: 800;
    font-size: 25px;
    padding: 10px 25px;
}


/*
    Main
*/
main{
    flex: 1;
    background: #8686AC;
    display: flex;
}

#clocks{
    flex: 1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    background: #E3DDDB;
}

.clock{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px;
    border: 1px solid #8E6D56;
    min-height: 850px;
    transition: all 500ms ease;
}

.clock-img{
    max-height: 500px;
    border: 2px solid #5A4A40;
}

.worker:hover{
    box-shadow: 0 0 10px #5A4A40;
    transform: scale(1.05);
}


/*
    Workers
*/
#workers{
    flex: 1;
    display: grid;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    background: #E3DDDB;
}

.worker{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 30px;
    border: 1px solid #5A4A40;
    transition: all 500ms ease;
}

.worker-occupation{
    flex: 0 0 140px;
}

.worker-img{
    max-height: 250px;
    border: 2px solid #5A4A40;
    object-fit: cover;  /* schneidet schön zu */
}

/*
    About
*/
#info{
    flex: 1;
    display: grid;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    background: #E3DDDB;
}

.info-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #8E6D56;
    padding: 30px;
}

/*
* Footer
*/
footer{
    background: #E3DDDB;
    padding: 50px;
}

.highlight{
    box-shadow: 0 0 10px #5A4A40;
    transform: scale(1.05);
}

/*
* Bubbles
*/
#scene{
    position: fixed;
    /* ganze #scene positioniert spannt sich über das komplette Fenster */
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

.bubbles{
    position: absolute;
    border-radius: 50%;
    border: none;
    pointer-events: auto;
}

@keyframes create{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    70%{
        transform: scale(0.7);
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.bubbles.create{
    animation: create 300ms ease;
}

@keyframes pop{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    70%{
        transform: scale(1.3);
        opacity: 0.6;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

.bubbles.pop{
    animation: pop 300ms ease forwards;
}

.logo-container.hidden{
    transform: translateY(-100%);
}
