@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*
    default = 400;
*/
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #33312E;
    background: #E3DDDB;
}

/*
    without underscore;
*/
a{
    text-decoration: none;
}

/*
    not bigger then its parent
*/
img{
    max-width: 100%;
    height: auto;
}

/*
    Header
*/
.logo-container{
    display: flex;
    align-items: center;
    background: #8E6D56;
    width: 100%;
    margin: 0;
    padding: 15px;
    border-bottom-color: #8e694f;
}

/* can't growth, a size of the container - automatik*/
.logo-btn{
    flex: 0 0 auto;
}

.logo-btn a{
    color: #33312E;
    background: #6a5341;
    font-weight: 800;
    padding: 10px 25px;
    border-radius: 15px;
    border: 2px solid #8E6D56;
    transition: all 500ms ease;
}

.logo-btn a:hover{
    background: #493b2f;
    color: #87827e;
}

/*
    this element can take rest place and the text of this el must be in the middle of the el
*/
.logo-title{
    flex: 1;
    text-align: center;
}

header nav{
    max-width: 600px;
    margin: 75px auto;
    padding: 0 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header nav ul li a{
    color: #33312E;
    padding: 10px 25px;
    border-radius: 15px;
    display: inline-block;
}

header nav ul li:not(.active) a{
    background: #9C928C;
    transition: all 500ms ease;
}

header nav ul li.active a{
    border: 2px solid #9C928C;
}

header nav ul li:not(.active) a:hover{
    background: #b9aca5;
    transform: scale(1.1);
}

/*
    Main
*/
main{
    background: #D1AB83;
}

#clocks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1920px;
    text-align: center;
}

.clock{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px;
}

.clock-img{
    border: 2px solid #5A4A40;
    transition: all 500ms ease;
}

.clock-img:hover{
    box-shadow: 0 0 10px #5A4A40;
}

